hr{
    border-top: 5px solid #203239;
  }
  
  h2{
    color: #E0DDAA;
    font-weight: bolder;
    font-size: 40px;
  }
  .bodyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img{
    height:400px;
    width: 400px;
  }